{% extends "core/base.html" %}
{% block search %}
{% for field in qform %}
{{ field.label_tag }}: {{ field }}
{% endfor %}
<input type="submit" class="btn btn-success">
{% endblock %}
{% block title %}Question List{% endblock %}
{% block content %}
{% for q in object_list %}
<hr>
<div>
   <div>
      <h3>Author: {{ q.author }}</h3>
      {% if q.author = user %}
      <form action="/questions/{{q.id}}/update" class="navbar-right">
         <button type="submit" class="btn"> Edit </button>
      </form>
      {% endif %}
   </div>
   <h4>Title: <a href='/questions/{{q.id}}'> {{q.title}}</a></h4>
   <h4>Text: {{q.text}}</h4>
   <h5>Created at: {{ q.created_at}}</h5>
</div>
{% endfor %}
{% if user.is_authenticated %}
<form action="/questions/create/">
   <button type="submit" class="btn" > Create question </button>
</form>
{% endif %}
{% endblock %}
