{% extends "core/base.html" %}
{% block search %}
{% for field in qform %}
{{ field.label_tag }}: {{ field }}
{% endfor %}
<input type="submit" class="btn btn-success">
{% endblock %}
{% block title %}Question List{% endblock %}
{% block content %}
{% for q in object_list %}
<hr>
<div>
   <h3><a href='/questions/{{q.id}}'> {{q.title}}</a></h3>
   <h4>Author: {{ q.author }}</h4>
   <h4>Text: {{q.text}}</h4>
   <h5>Created at: {{ q.created_at}}</h5>
   {% if q.author = user %}
   <form action="/questions/{{q.id}}/update" class="navbar-top">
      <button type="submit" class="btn"> Edit </button>
   </form>
   {% endif %}
</div>
{% endfor %}
{% if user.is_authenticated %}
<hr>
<form action="/questions/create/">
   <button type="submit" class="btn" > Create question </button>
</form>
{% endif %}
{% endblock %}
